name: Codecov

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md' # any .md anywhere
  pull_request:
    branches: [main]
    paths-ignore:
      - '**/*.md' # any .md anywhere
  workflow_dispatch:

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: npm

      - name: Verify Node.js version
        run: node -v

      - name: Verify Npm version
        run: npm -v

      - name: Clone matterbridge repo
        run: git clone --depth 1 --single-branch --no-tags https://github.com/Luligu/matterbridge.git ../matterbridge

      - name: Install matterbridge dependencies
        working-directory: ../matterbridge
        run: npm ci --no-fund --no-audit

      - name: Build matterbridge
        working-directory: ../matterbridge
        run: npm run build

      - name: Link matterbridge globally
        working-directory: ../matterbridge
        run: npm link --no-fund --no-audit

      - name: Install dependencies
        run: npm ci --no-fund --no-audit

      - name: Link matterbridge in the project
        run: npm link matterbridge --no-fund --no-audit

      - name: Run tests
        run: npm run test:coverage -- --forceExit

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
